body{
    background: linear-gradient(45deg  , rgb(1, 14, 109) , rgb(0, 130, 165)) ;
    align-items: center;
    font-family: fantasy;
}
#container{
    background-color: whitesmoke;
      width: 320px;
      padding: 25px 30px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px 30px;
      border-radius: 16px;
}
.CenterLine{
  height: 50px;
}
#CenterLine input {
  padding: 10px;
  border-radius: 20px;
  width: 94%;
  background-color: #ddd;
  color: black;
}
#Addbutton{
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #Ed9121;
  color: white;
  left: 278px;
  top: -39px;
    
}
.removeStyle{
  border: hidden;
  background-color: whitesmoke;
  float: right;
}

